html
  head
    title= titulo
    link(rel='stylesheet', href='/styles/index.css')
  body
    div.container
      header
        img(src='/imgs/joinha.gif', alt='Logo')
        h1= titulo
      main
        p= mensagem
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget efficitur neque. Integer et dui sit amet urna placerat lacinia.
        // Mais conteúdo...
      footer
        p © 2024 Meu Site