
doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= conteudo.titulo
  body
    h1= conteudo.titulo
    p= conteudo.descricao

    // Botão para ir para o próximo conteúdo
    button(onclick="carregarProximoConteudo()") Próximo Conteúdo

    // Botão para ir para o conteúdo anterior
    button(onclick="carregarConteudoAnterior()") Conteúdo Anterior

    // Inicializa a variável id_conteudo
    script.
      let idConteudo = !{id_conteudo}; // Passa o valor do ID do backend para o JavaScript

    // Incluindo o script
    script(src="/assets/scripts-pug/teste.js")

