//- doctype html
//- html(lang="pt-BR")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Document
//-         script(src="../assets/scripts-pug/teste.js") 
//-     body 
//-         h1(id="teste") Hello World
//-     footer 
//- extends includes/layaout-conteudo.pug
extends includes/layaout-atividade.pug
