doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title teste layout conteudo
        link(rel="stylesheet", href="../assets/styles-pug/layaout-conteudo.css")
    body
        header 
            img(src="../assets/imgs-pug/oasis-01.png", alt="", srcset="").img-header-left
            block titulo
                h2 Comandos de Entrada e Saída tem em todo programa?
            div.div-img-header
                img(src="../assets/imgs-pug/config.png", alt="", srcset="").img-header-right
        section 
            div.section-div-p 
                block conteudo 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sit eum sint? Ex nulla vel enim, accusantium possimus laborum sunt autem fugit fugiat sequi, reiciendis error necessitatibus deserunt! Voluptatum quas suscipit soluta aliquam qui molestiae accusantium, temporibus, itaque aspernatur, blanditiis animi. Asperiores laborum corrupti labore! Debitis sit excepturi suscipit similique sapiente eum, libero minima voluptatem animi delectus maxime numquam quasi blanditiis quas tempora omnis nulla eos aut ea odio consectetur odit? Doloremque maiores ratione, officia neque voluptatum praesentium accusantium hic nesciunt expedita harum sed et nobis iusto illo quo vero? Nemo at, amet expedita corrupti qui quae similique vitae nostrum!
