<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis</title>
    <link rel="stylesheet" href="../assets/styles/style-oasis.css">
</head>
<body>
    <header>
        <div class="icon-perfil">
            <img src="../assets/imgs/icon-perfil.png" alt="icone-perfil">
        </div>
        
    </header>
    <section>
        <div class="pai-sec">
            <div class="pai-sec__filho-div">
                <img src="../assets/imgs/oasis-01.png" alt="">
                <span class="filho-div__ponto"></span>
            </div>
            <div class="pai-sec__filho-div">
                <img src="../assets/imgs/oasis-02.png" alt="">
                <span class="filho-div__ponto"></span>
            </div>
            <div class="pai-sec__filho-div">
                <img src="../assets/imgs/oasis-03.png" alt="">
                <span class="filho-div__ponto"></span>
            </div>
        </div>
    </section>
    <footer>
        <a href="inicio-jogo.html">
            <button class="saida-inicio">
                <span class="fa-solid fa-backward fa-3x"></span>
            </button>
        </a>
        <a href=""><!--Entra pra dentro do template-->
            <button class="botao">
                <span class="fa fa-play fa-3x"></span>
            </button>
        </a>
        <a href="config.html">
            <button class="botao">
                <span class="fa fa-gear fa-3x"></span>
            </button>
        </a>
    </footer>
    <script src="https://kit.fontawesome.com/062f506ca7.js" crossorigin="anonymous"></script>
</body>
</html>