@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../imgs-html/Stars-black.png);
    background-color: #283134;
    font-family: var(--font-roboto);
    height: 10px;
}
/*estilos dentro do header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 187px;
}
.config{
    margin: 52px 33px 0 0;   
}
.config img{
    width: 50px;
    height: auto;    
}

h1{
    margin-right: 38%;
    color: #FFBF65;
    opacity: 0.1;
}

/*estilos dentro da section*/
section{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    position: relative;
}

.divisao1{
    /* border: 1px solid red; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.divisao2{
    /* border: 1px solid rgb(255, 242, 0); */
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
#oasis-02{
    width: 80px;
    transition: width 0.3s ease;

}
#oasis-02:hover{
    width: 100px;
}
.divisao3{
    /* border: 1px solid rgb(77, 255, 0); */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.divisao4{
    /* border: 1px solid rgb(0, 255, 225); */
    height: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#oasis-04{
    width: 80px;
    transition: width 0.3s ease;
}
#oasis-04:hover{
    width: 100px;
}
.divisao5{
    /* border: 1px solid rgb(153, 0, 255); */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.caminho {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 1px;
    background: #fff;   
    left: 135px;
    bottom: -5px;
    transform-origin: 0 50%; /* Define a origem da rotação no lado esquerdo */
    transform: rotate(-23.6deg); /* Rotaciona a linha */
}
.caminho2 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 1px;
    background: #fff;
    margin: 15px 250px 0 0;
    transform-origin: 0 50%; /* Define a origem da rotação no lado esquerdo */
    transform: rotate(23.8deg); /* Rotaciona a linha */
}
.caminho3 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 1px;
    background: #fff;
    margin: 260px 0 0 296px; /* top right bottom left*/
    transform-origin: 0 50%; /* Define a origem da rotação no lado esquerdo */
    transform: rotate(-24.5deg); /* Rotaciona a linha */
}
.caminho4 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 294px;
    height: 1px;
    background: #fff;
    margin: 10px 0 0 848px; /* top right bottom left*/
    transform-origin: 0 50%; /* Define a origem da rotação no lado esquerdo */
    transform: rotate(24.6deg); /* Rotaciona a linha */
}


.container {
    position: relative;
    width: 100%;
    height: 400px; /* Ajuste conforme necessário */
  }
  
  .ponto {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }
  
  .linha {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Evita interferência no clique */
  }
.pai-sec__filho-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 20px;
    /* border: 1px solid yellow; */
}
.filho-div__ponto{
    background-color: aliceblue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
}

.balao_info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #47C3D0;
    width: 150px;
    height: 40px;
    border-radius: 16px 16px 0 16px;
}

.balao_info p {
    color: #47C3D0;
    font-weight: bold;
    display: flex;
    text-align: center;
    font-size: 12pt;
}

section img{
    margin: 0;
    width: 100px;
    transition: width 0.3s ease;
}
section img:hover{
    margin: 0;
    width: 120px;
}

/*estilos dentro do footer*/
footer {
    position: relative;
    overflow: hidden; /* Impede que a imagem "vaze" para fora visualmente */
    height: 200px; /* Defina a altura desejada do footer */
    /* border: 1px solid #47C3D0; */
  }
  
  footer img {
    width: 500px;
    position: absolute; /* Ajuste para fazer a imagem "vazar" para fora */
    left: -17%; /* Centraliza horizontalmente */
    top: -50px;
  }
  
/* Estilos para quando um oásis estiver bloqueado */
.bloqueado {
    opacity: 0.5; /* Torna o oásis mais claro para indicar que está bloqueado */
    pointer-events: none; /* Desabilita cliques no oásis bloqueado */
}
