      /* Estilos CSS embutidos */
      .body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
      }
      .h1 {
        color: #007bff;
        text-align: center;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .img {
        width: 400px; /* ajuste o tamanho conforme necessário */
        height: auto; /* mantém a proporção original */
      }