<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../assets/styles-html/vars.css">
    <link rel="stylesheet" href="../../assets/styles-html/style-ini-jogo.css">
</head>
<body>
    <header>
        <div class="icon-perfil">
            <img src="../../assets/imgs-html/icon-perfil.png" alt="icone-perfil">
        </div>
        <h1>Clique no mundo</h1>
    </header>
    <section>
        <div>
            <span class="fa fa-chevron-left fa-3x" id="seta-esquerda"></span>
        </div>
        <div class="troca-mundos">
            <a href="#" id="link-planeta">
                <img src="../../assets/imgs-html/M-deserto.png" alt="Deserto" id="imagem-planeta">
            </a>
        </div>
        <div>
            <span class="fa fa-chevron-right fa-3x" id="seta-direita"></span>
        </div>
    </section>
    <footer>
        <a href="login">
            <button class="saida-inicio">
                <span class="fa fa-arrow-right-from-bracket fa-3x"></span>
            </button>
        </a>
        <a href="config">
            <button class="config">
                <span class="fa fa-gear fa-3x"></span>
            </button>
        </a>
    </footer>
    
    <script src="https://kit.fontawesome.com/062f506ca7.js" crossorigin="anonymous"></script>
    <script src="../../assets/scripts-html/inicio.js"></script>
</body>
</html>