<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis</title>
    <link rel="stylesheet" href="../../assets/styles-html/style-oasis.css">
</head>
<body>
    <header>
        <div class="icon-perfil">
            <img src="../../assets/imgs-html/icon-perfil.png" alt="icone-perfil">
        </div>
    </header>
    <section>
        <div class="pai-sec">
            <div class="pai-sec__filho-div">
                <a href="/conteudos">
                    <img src="../../assets/imgs-html/oasis-01.png" alt="">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
            <div class="pai-sec__filho-div">
                <a href="/conteudos-atividades?id_conteudo=15">
                    <img src="../../assets/imgs-html/oasis-02.png" alt="" class="bloqueado">
                </a>
                <span class="filho-div__ponto"></span>
            </div>
            <div class="pai-sec__filho-div">
                <img src="../../assets/imgs-html/oasis-03.png" alt="" class="bloqueado">
                <span class="filho-div__ponto"></span>
            </div>
        </div>
    </section>
    <footer>
        <a href="inicio-jogo">
            <button class="saida-inicio">
                <span class="fa-solid fa-backward fa-3x"></span>
            </button>
        </a>
        <a href="" id="botao-jogar">
            <button class="botao">
                <span class="fa fa-play fa-3x"></span>
            </button>
        </a>
        <a href="config">
            <button class="botao">
                <span class="fa fa-gear fa-3x"></span>
            </button>
        </a>
    </footer>
    <script src="../../assets/scripts-html/oasis.js"></script>
    <script src="https://kit.fontawesome.com/062f506ca7.js" crossorigin="anonymous"></script>
</body>
</html>