body{
    background-color: #283134;
    background-image: url('../imgs-pug/fundo-estrelado-amarelo.png');
}

header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 188.33px;
}

header h2{
    color: #fff;
    font-size: 20pt;
}

.img-header-left{
    width: 140px;
}

.div-img-header{
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;

}
.img-header-right{
    width: 50px;
    height: auto;
    /* border: 1px solid red; */
}

/* .h2-header{
    color: #fff;
    font-size: 20pt;
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

section{
    display: flex;
    justify-content: center;
    height: 388px;
    /* border: 1px solid rgb(255, 2, 213); */
    position: relative;
}
section .div-p{
    width: 700px;
    height: 280px;
    color: #fff;
    font-size: 16pt;
    /* border: 1px solid rgb(2, 129, 255); */
}
section .div2{
    /* border: 1px solid rgb(251, 255, 2); */
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 1010px;
    margin-top: 370px;
}

section .div2 button{
    width: 126px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background: #514D4D;
    color: #fff;
    cursor: pointer;
}

/* section{
    display: flex;
    justify-content: center;
    border: 1px solid yellow;
    position: relative;
}
section .div2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 1010px;
    margin-top: 370px;
}
section .div2 button{
    width: 126px;
    height: 60px;
    border-radius: 6px;
    border: none;
    background: #514D4D;
    color: #fff;
    cursor: pointer;
} */